.letterBox{
  width: 250px;
  position: absolute;
  top:0;
  right: 15%;
  overflow-y: hidden;
  height: 100%;
  padding: 5px;
  font-family: "Poplar std";
  font-size: 600px;
}

.letterBox div{
  height: 150px;
  font-size: 120px;
  color:#8348ad;
  font-weight:bold;
}


