<div class="letterBox">
  <div id="letterA">Y</div>
  <div id="letterB">Z</div>
  <div id="letterC" [ngClass]="{yellowLet: selectedLetter === 'A'}"><p>A</p></div>
  <div id="letterD" [ngClass]="{yellowLet: selectedLetter === 'B'}"><p>B</p></div>
  <div id="letterE" [ngClass]="{yellowLet: selectedLetter === 'C'}"><p>C</p></div>
  <div id="letterF" [ngClass]="{yellowLet: selectedLetter === 'D'}"><p>D</p></div>
  <div id="letterG" [ngClass]="{yellowLet: selectedLetter === 'E'}"><p>E</p></div>
  <div id="letterH" [ngClass]="{yellowLet: selectedLetter === 'F'}"><p>F</p></div>
  <div id="letterI" [ngClass]="{yellowLet: selectedLetter === 'G'}"><p>G</p></div>
  <div id="letterJ" [ngClass]="{yellowLet: selectedLetter === 'H'}"><p>H</p></div>
  <div id="letterK" [ngClass]="{yellowLet: selectedLetter === 'I'}"><p>I</p></div>
  <div id="letterL" [ngClass]="{yellowLet: selectedLetter === 'J'}"><p>J</p></div>
  <div id="letterM" [ngClass]="{yellowLet: selectedLetter === 'K'}"><p>K</p></div>
  <div id="letterN" [ngClass]="{yellowLet: selectedLetter === 'L'}"><p>L</p></div>
  <div id="letterO" [ngClass]="{yellowLet: selectedLetter === 'M'}"><p>M</p></div>
  <div id="letterP" [ngClass]="{yellowLet: selectedLetter === 'N'}"><p>N</p></div>
  <div id="letterQ" [ngClass]="{yellowLet: selectedLetter === 'O'}"><p>O</p></div>
  <div id="letterR" [ngClass]="{yellowLet: selectedLetter === 'P'}"><p>P</p></div>
  <div id="letterS" [ngClass]="{yellowLet: selectedLetter === 'Q'}"><p>Q</p></div>
  <div id="letterT" [ngClass]="{yellowLet: selectedLetter === 'R'}"><p>R</p></div>
  <div id="letterU" [ngClass]="{yellowLet: selectedLetter === 'S'}"><p>S</p></div>
  <div id="letterV" [ngClass]="{yellowLet: selectedLetter === 'T'}"><p>T</p></div>
  <div id="letterW" [ngClass]="{yellowLet: selectedLetter === 'U'}"><p>U</p></div>
  <div id="letterX" [ngClass]="{yellowLet: selectedLetter === 'V'}"><p>V</p></div>
  <div id="letterY" [ngClass]="{yellowLet: selectedLetter === 'W'}"><p>W</p></div>
  <div id="letterZ" [ngClass]="{yellowLet: selectedLetter === 'X'}"><p>X</p></div>
  <div id="letterYY" [ngClass]="{yellowLet: selectedLetter === 'Y'}"><p>Y</p></div>
  <div id="letterZZ" [ngClass]="{yellowLet: selectedLetter === 'Z'}"><p>Z</p></div>

  <div>A</div>
  <div>B</div>
</div>
